// global
$page-width: 14rem;

// Colors
$grey: #333333;

// Navigation colors
$nav-background: $grey;
$nav-text-color: white;
$nav-link-color:   #00BFFF; // #1779A2;


// Clock variables
$clock-text-color: white;
$clock-bg-color: #b5d0e2;
$clock-border-color: #2099e8;
